@import "tailwindcss";

:root {
  --brand-main: #1089ff;
  --brand-success: #22c55e;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-brand-main: var(--brand-main);
  --color-brand-success: var(--brand-success);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
